.carousel {
  display: flex;
  align-items: center;
  position: relative;
  width: 80%;
}

.carousel-container {
  overflow: hidden;
  width: 100%;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: calc(100% / 3);
  box-sizing: border-box;
  padding: 10px;
}

.carousel-control {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-content {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.card-image {
  width: 100px;
  height: 100px;
}

.card-content {
  text-align: center;
}

.carousel-btn {
  margin: 20px;
  background-color: #ffb105;
  border-radius: 2em;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #000;
  text-align: center;
	height: 40px;
	width: 120px;
	font-size: 16px;
	border-color: #000;
	padding: 0;
	border: 1px;
  margin: 0;
}

.group-name {
  margin-bottom: 10px;
}
