.edit-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  position: relative;
}

.edit-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#left-icon {
  width: 40px;
  margin-right: 10px;
}

.edit-title {
  font-size: 40px;
  margin: 10px;
}

.input-container {
	width: 400px;
}

.input-div {
	margin: 5px;
}

.input {
	width: 400px;
	height: 50px;
	font-size: 20px;
	border-style: solid;
	border-color: #ffb105;
	border-radius: 8px;
}

.edit-btn {
  margin: 20px;
  background-color: #ffb105;
  border-radius: 2em;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #000;
  text-align: center;
	height: 40px;
	width: 180px;
	font-size: 16px;
	border-color: #000;
	padding: 0;
	border: 1px;
}